<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500239566772-di6otcba9drm1rbf11ovudm44chgp3jk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500239566772-di6otcba9drm1rbf11ovudm44chgp3jk</string>
	<key>API_KEY</key>
	<string>AIzaSyBOyp-GO7IfqqxAwX9WZVJ_06etR6K6KAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>500239566772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.yukhanov.iGym</string>
	<key>PROJECT_ID</key>
	<string>igym-5b1ca</string>
	<key>STORAGE_BUCKET</key>
	<string>igym-5b1ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500239566772:ios:a6f3ea1d2740d667</string>
	<key>DATABASE_URL</key>
	<string>https://igym-5b1ca.firebaseio.com</string>
</dict>
</plist>